<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263435656652-l6fqsmm106m9tq346aaotfkrmj2h35nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263435656652-l6fqsmm106m9tq346aaotfkrmj2h35nt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>263435656652-4r31834m5rjeej2alr9u1r80g0hf1557.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAPAfACCPWo7go-cTfSq7Zx-Trv1zWboM8</string>
	<key>GCM_SENDER_ID</key>
	<string>263435656652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dontblink.app</string>
	<key>PROJECT_ID</key>
	<string>don-t-blink-6dd9b</string>
	<key>STORAGE_BUCKET</key>
	<string>don-t-blink-6dd9b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263435656652:ios:7c953d9424fcf37c959169</string>
</dict>
</plist>